
.login-container {
    background: #eefcff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.login-wrapper {
    /*background-image: linear-gradient(rgba(4, 12, 24, 0.2), rgba(4, 12, 24, 1)),
    url("../../assets/bg5.png");*/
        background-image: url("../../assets/bg5.png");
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
    width:  100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
